/* # Front-end Style Guide  */

/* ## Layout */

/* The designs were created to the following widths: */

/* - Mobile: 375px */
/* - Desktop: 1440px */

/* > 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens. */

/* ## Colors */

/* ### Primary */

/* Bright orange: hsl(31, 77%, 52%) */
/* Dark cyan: hsl(184, 100%, 22%) */
/* Very dark cyan: hsl(179, 100%, 13%) */

/* ### Neutral */

/* Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75) */
/* Very light gray (background, headings, buttons): hsl(0, 0%, 95%) */

/* ## Typography */

/* ### Body Copy */

/* - Font size: 15px */

/* ### Font */ 

/* - Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca) */
/* - Weights: 400 */

/* - Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display) */
/* - Weights: 700 */

/* > 💎 [Upgrade to Pro](https://www.frontendmentor.io/pro?ref=style-guide) for design file access to see all design details and get hands-on experience using a professional workflow with tools like Figma. */

* {
    margin: 0;
    padding: 0;
}

/* ======== BODY ======== */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-color: hsl(0, 0%, 95%);
}

/* ======== CONTAINER ======== */
.container { 
    display: flex; 
    align-items: center; 
    justify-content: center; 

}

/* ======== BOX CARS COINTAINER ======== */
.sedans-box, 
.suvs-box, 
.luxury-box {
    display: inline-block;
}

.sedans-box {
    width: 400px;
    height: 500px;
    background-color:hsl(31, 77%, 52%); 
}

.suvs-box {
    width: 400px;
    height: 500px;
    background-color:hsl(184, 100%, 22%);
}

.luxury-box {
    width: 400px;
    height: 500px;
    background-color:hsl(179, 100%, 13%);
}

/* ======== ICONS - À TRAVAILLER!!!!! ======== */

.icons {
    margin-top: 40px;
}
.icons, .cars-content {
    margin-top: 40px;
    margin-left: 50px;
}

/* ======== CONTENT CARS ======== */
.cars-content {
    width: 53%; 
}

.cars-content h1, p {
    font-family: "roboto", sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}
.cars-content p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 25px;
}

/* ======== BUTTONS ======== */
.button button {
    margin-top: 100px;
    margin-left: 50px;
    background-color: #fff;
    width: 35%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
} 

#sedans  {
    color: hsl(31, 77%, 52%);
}

#suvs {
    color: hsl(184, 100%, 22%);
}
#luxury {
    color: hsl(179, 100%, 13%);
}

/* ======== FOOTER INFORMATION ======== */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}